{% load thumbnail %}
{% with request.resolver_match.view_name as view_name %}
  {% for post in page_obj %}
    <div class="inf">
      <div class="post">
        <div class="inf-panel" style="margin-bottom: 15px">
          <div class="inf-panel" style="background: none; padding: 10px;">
            <div class="user-btn button_hed" style="border-radius: 50%;">
              <a class="in-btn" href="{% url 'posts:profile' post.author  %}">
                <i class="fa-regular fa-user fa-sm"></i> </a>
            </div>
            <b style="padding-left:10px ">{{ post.author.get_full_name }}</b>
          </div>
          <div style="padding-right: 10px">
            <i class="fa-solid fa-calendar-days fa-xl" style="padding-right: 5px">
            </i>{{ post.pub_date|date:"d E Y" }}  [{{ post.pub_date|timesince }} назад.]
          </div>
        </div>
        <div class="post-block">
          {% if post.author == request.user %}{% endif %}
          <div style="font-size: 18px; padding-top: 2px;text-align: justify">{{ post.text|slice:":500" }}</div>
        </div>
        <div>
          {% thumbnail post.image "960x600" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
      </div>
      <div class="inf-panel " style="margin-top: 15px;">
        <div class="inf-panel" style="background: none">
          <div style="padding: 10px">
            <a class="in-btn " href="{% url 'posts:post_detail' post.pk %}">
              <div class="user-btn button_hed" style="border-radius: 50%;">
                <i class="fa-solid fa-info in-btn"></i>
              </div>
            </a>
          </div>
          {% if post.group %}
            <div class="inf-panel" style="background: none; padding: 10px;">
              <div class="user-btn button_hed" style="border-radius: 50%;">
                <a class="in-btn" href="{% url 'posts:group_posts' post.group.slug %}">
                  <i class="fa-solid fa-user-group fa-xs"></i></i> </a>
              </div>
              <div style="padding-left:10px; ">{{ post.group.title }}</div>
            </div>
          {% endif %}
        </div >
        <div style="margin-right: 10px">{% include 'posts/../includes/raiting.html' %}</div>
      </div>
    </div>
  </div>
{% endfor %}
{% endwith %}
