  .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fd0d39;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(253, 13, 13, 0.55);
}


.page-link {
  color: black;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}


.page-link:hover {
  z-index: 2;
  color: red;
  background-color: rgba(0, 0, 0, 0.61);
  border: none;

}

.page-link:focus {
  z-index: 3;
  color: red;
  background-color: #000000;
  border: none;

}

.page-link.active, .active > .page-link {
  z-index: 3;
  color: red;
  background-color: #000000;
  border: none;

}