{% extends 'base.html' %}
{% load user_filters %}
{% block title %}Пост: {{ post.text|slice:":10" }}{% endblock %}
{% block content %}
  {% load thumbnail %}
  {% with request.resolver_match.view_name as view_name %}
    <div class="row justify-content-md-center">
      <div class="col col-lg-7">
        <article>
          <div class="inf">
            <div class="post">
              <div class="inf-panel" style="margin-bottom: 15px">
                <div class="inf-panel" style="background: none">
                  {% if post.author == request.user %}
                    <div style="padding: 10px">
                      <div class="user-btn button_hed" style="border-radius: 50%;">
                        <a class="in-btn" href="{% url 'posts:post_edit' post.pk %}">
                          <i class="fa-regular fa-pen-to-square fa-sm"></i> </a>
                      </div>
                    </div>
                  {% endif %}
                  <div class="inf-panel" style="background: none; padding: 10px;">
                    <div class="user-btn button_hed" style="border-radius: 50%;">
                      <a class="in-btn" href="{% url 'posts:profile' post.author  %}">
                        <i class="fa-regular fa-user fa-sm"></i> </a>
                    </div>
                    <div style="padding-left:10px; ">
                      <b>{{ post.author.get_full_name }}</b>
                    </div>
                  </div>
                </div >
                <div style="padding-right: 10px">
                  <i class="fa-solid fa-calendar-days fa-xl" style="padding-right: 5px">
                  </i>{{ post.pub_date|date:"d E Y" }}  [{{ post.pub_date|timesince }} назад.]
                </div>
              </div>
              <div class="post-block">
                <div style="font-size: 18px; padding-top: 2px; text-align: justify">{{ post.text }}</div>
              </div>
              <div>
                {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                <img class="card-img my-2" src="{{ im.url }}">
              {% endthumbnail %}
            </div>
            <div class="inf-panel " style="margin-top: 15px;">
              <div class="inf-panel" style="background: none">
                <div style="padding: 10px">
                  <div class="user-btn button_hed" style="border-radius: 50%;">
                    <a class="in-btn" href="{% url 'posts:post_detail' post.pk %}">
                      <i class="fa-solid fa-info"></i> </a>
                  </div>
                </div>
                {% if post.group %}
                  <div class="inf-panel" style="background: none; padding: 10px;">
                    <div class="user-btn button_hed" style="border-radius: 50%;">
                      <a class="in-btn" href="{% url 'posts:group_posts' post.group.slug %}">
                        <i class="fa-solid fa-user-group fa-xs"></i></i> </a>
                    </div>
                    <div style="padding-left:10px; ">{{ post.group.title }}</div>
                  </div>
                {% endif %}
              </div >
              <div style="margin-right: 10px">{% include 'posts/../includes/raiting.html' %}</div>
            </div>
          </div>
        </div>
      </article>
      <div class="" style="border-radius: 5px;">
        {% if user.is_authenticated %}
          <div class="inf-panel2">
            <div style="margin-left:10px ">Добавить комментарий</div>
          </div>
          <form method="post"
                action="{% url 'posts:add_comment' post.id %}"
                style="margin: 0px; background: none">
            {% csrf_token %}
            {{ form.text|addclass:"myform" }}
            <button type="submit"
                    class="in-btn button_hed"
                    style="width: 30%;
                           font-size: 16px;
                           margin-top: 10px;
                           margin-bottom: 20px;
                           width: 100px;
                           border-radius: 5px;">
              Отправить
            </button>
          </form>
        {% endif %}
      </div>
      <div style="margin-top: 20px;">
        {% for comment in comments %}
          <div class="inf-panel"
               style="background: none; padding: 5px; margin-top: 40px">
            <div class="inf-panel" style="background: none; ">
              <div class="user-btn button_hed" style="border-radius: 50%;">
                <a class="in-btn"
                   href="{% url 'posts:profile' comment.author.username %}">
                  <i class="fa-regular fa-user fa-sm"></i> </a>
              </div>
              <div style="padding-left:10px;">
                <b style="padding-left:5px ">{{ comment.author.get_full_name }}</b>
              </div>
            </div>
          </div>
          <div style="padding: 10px; background: none">{{ comment.text }}</div>
        </div>
      {% endfor %}
    {% endwith %}
  </div>
</div>
</div>
{% endblock %}
