<head>
  {% load static %}
  <meta charset="utf-8">
  {% load user_filters %}
</head>
<form method="post"
      class="dropdown-menu p-1 "
      style="transform: translateX(-82%); top: 50px; width: 240px">
  {% csrf_token %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
  {% endif %}
  <div class="mb-3">
    <label class="form-label">Username</label>
    {{ form_aut.username|addclass:'form-control' }}
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    {{ form_aut.password|addclass:'form-control' }}
  </div>
  <div class="mb-2">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck2">
      <label class="form-check-label" for="dropdownCheck2">Помни меня</label>
    </div>
  </div>
  <button type="submit"
          class="in-btn button_hed"
          style="width: 100%; font-size: 16px">Войти</button>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Забув пароль(</a>
  <a class="dropdown-item" href="{% url 'users:signup' %}">Стать соучастником</a>
</form>
